<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <connectionStrings>
    <add name="con1" connectionString="server=(localDB)\MSSQLLocalDB; database=20200210_hoho_inventory; Trusted_Connection=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="defaultFolder" value="D:\Projects\HoHo\B2B\src\OMH.OTAB2B.Infrastructure\Data\Migrations"/>
  </appSettings>
</configuration>